<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>aerowash</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.aerowash.auth.AuthServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.aerowash.home.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StaffServlet</servlet-name>
		<servlet-class>com.aerowash.home.StaffServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaffServlet</servlet-name>
		<url-pattern>/staff</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StaffCrudServlet</servlet-name>
		<servlet-class>com.aerowash.staff.StaffCrudServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaffCrudServlet</servlet-name>
		<url-pattern>/scrud</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StaffAddServlet</servlet-name>
		<servlet-class>com.aerowash.staff.StaffAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaffAddServlet</servlet-name>
		<url-pattern>/sadd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StaffEditServlet</servlet-name>
		<servlet-class>com.aerowash.staff.StaffEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaffEditServlet</servlet-name>
		<url-pattern>/sedit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StaffDeleteServlet</servlet-name>
		<servlet-class>com.aerowash.staff.StaffDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaffDeleteServlet</servlet-name>
		<url-pattern>/sdelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CustomersCrudServlet</servlet-name>
		<servlet-class>com.aerowash.customers.CustomersCrudServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CustomersCrudServlet</servlet-name>
		<url-pattern>/customers</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CustomerAddServlet</servlet-name>
		<servlet-class>com.aerowash.customers.CustomerAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CustomerAddServlet</servlet-name>
		<url-pattern>/cadd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CustomerEditServlet</servlet-name>
		<servlet-class>com.aerowash.customers.CustomerEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CustomerEditServlet</servlet-name>
		<url-pattern>/cedit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CustomerDeleteServlet</servlet-name>
		<servlet-class>com.aerowash.customers.CustomerDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CustomerDeleteServlet</servlet-name>
		<url-pattern>/cdelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FlatCrudServlet</servlet-name>
		<servlet-class>com.aerowash.customers.flat.FlatCrudServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FlatCrudServlet</servlet-name>
		<url-pattern>/flat</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FlatAddServlet</servlet-name>
		<servlet-class>com.aerowash.customers.flat.FlatAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FlatAddServlet</servlet-name>
		<url-pattern>/fadd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FlatEditServlet</servlet-name>
		<servlet-class>com.aerowash.customers.flat.FlatEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FlatEditServlet</servlet-name>
		<url-pattern>/fedit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FlatDeleteServlet</servlet-name>
		<servlet-class>com.aerowash.customers.flat.FlatDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FlatDeleteServlet</servlet-name>
		<url-pattern>/fdelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VehicleCrudServlet</servlet-name>
		<servlet-class>com.aerowash.customers.vehicle.VehicleCrudServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VehicleCrudServlet</servlet-name>
		<url-pattern>/vehicle</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VehicleAddServlet</servlet-name>
		<servlet-class>com.aerowash.customers.vehicle.VehicleAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VehicleAddServlet</servlet-name>
		<url-pattern>/vadd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VehicleEditServlet</servlet-name>
		<servlet-class>com.aerowash.customers.vehicle.VehicleEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VehicleEditServlet</servlet-name>
		<url-pattern>/vedit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VehicleDeleteServlet</servlet-name>
		<servlet-class>com.aerowash.customers.vehicle.VehicleDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VehicleDeleteServlet</servlet-name>
		<url-pattern>/vdelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WashCrudServlet</servlet-name>
		<servlet-class>com.aerowash.wash.WashCrudServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WashCrudServlet</servlet-name>
		<url-pattern>/wash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WashAddServlet</servlet-name>
		<servlet-class>com.aerowash.wash.WashAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WashAddServlet</servlet-name>
		<url-pattern>/wadd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExpenseCrudServlet</servlet-name>
		<servlet-class>com.aerowash.wash.expense.ExpenseCrudServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExpenseCrudServlet</servlet-name>
		<url-pattern>/expense</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>Driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>DbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/aerowash</param-value>
	</context-param>

	<context-param>
		<param-name>DbUser</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>DbPassword</param-name>
		<param-value>password</param-value>
	</context-param>

</web-app>